services:
  db:
    container_name: cinema-postgres
    image: postgres:latest
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      PGDATA: /data/postgres
    volumes:
      - db:/data/postgres
    ports:
      - "${DB_PORT}:5432"
    networks:
    - db
    restart: unless-stopped

networks:
      db:
        driver: bridge
volumes:
  db:
